.listCursosContainer {
  padding: 4rem 2rem;
  text-align: center;
  margin: 0 auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.listCursosContainer h2 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
.gridCursos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-bottom: 3rem;
}
/*.ctaButton {
  background-color: #343a40;
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}*/